[Desktop Entry]
Name=MBoxImporter
Type=Application
Exec=mboximporter %u
Icon=kmail
MimeType=application/mbox;
Categories=Qt;KDE;Office;Network;Email;
StartupNotify=true
Hidden=true
X-DBUS-ServiceName=org.kde.mboximporter
