[Desktop Entry]
Name=MBoxImporter
Name[ar]=مستورد MBox
Name[bg]=MBoxImporter
Name[bs]=MBoxImporter
Name[ca]=Importador MBox
Name[ca@valencia]=Importador MBox
Name[cs]=MBoxImporter
Name[da]=MBoxImporter
Name[de]=MBoxImporter
Name[el]=MBoxImporter
Name[en_GB]=MBoxImporter
Name[eo]=MBoxImporter
Name[es]=Importador de MBox
Name[et]=MBoxImporter
Name[eu]=MBoxImportatzailea
Name[fi]=MBoxImporter
Name[fr]=MBoxImporter
Name[gl]=MBoxImporter
Name[hi]=एमबॉक्स आयातक
Name[hu]=MBoxImporter
Name[ia]=MBoxImporter
Name[it]=MBoxImporter
Name[ka]=MBoxImporter
Name[kk]=MBoxImporter
Name[ko]=MBoxImporter
Name[nb]=MBoxImporter
Name[nds]=Mbox-Import
Name[nl]=MBoxImporter
Name[nn]=MBox-importering
Name[pl]=Import skrzynki pocztowej
Name[pt]=Importação MBox
Name[pt_BR]=MBoxImporter
Name[ro]=MBoxImporter
Name[ru]=Импорт почтового ящика
Name[sk]=MBoxImporter
Name[sl]=MBoxImporter
Name[sq]=MBoxImporter
Name[sr]=Увозник из мбокса
Name[sr@ijekavian]=Увозник из мбокса
Name[sr@ijekavianlatin]=Uvoznik iz mboxa
Name[sr@latin]=Uvoznik iz mboxa
Name[sv]=Import av brevlådor
Name[tg]=Воридкунандаи «MBoxImporter»
Name[tr]=MBox İçe Aktarıcı
Name[uk]=Засіб імпортування MBox
Name[x-test]=xxMBoxImporterxx
Name[zh_CN]=MBox 导入器
Name[zh_TW]=信箱檔匯入器
Type=Application
Exec=mboximporter %u
Icon=kmail
MimeType=application/mbox;
Categories=Qt;KDE;Office;Network;Email;
StartupNotify=true
Hidden=true
X-DBUS-ServiceName=org.kde.mboximporter
